# Dependências
node_modules/
client/node_modules/
server/node_modules/

# Builds e Distribuição
dist/
client/dist/
build/

# Segredos e Configurações de Ambiente (NUNCA ENVIAR AO GITHUB)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs e Arquivos Temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tempmediaStorage/
.DS_Store
Thumbs.db
